body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    text-align: center;
    position: relative;
}

/* Cuadro celeste para el corazón */
.corazon-box {
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: #007bff; /* Celeste */
    padding: 1px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}
.corazon-box img {
    width:45px;  
    height: auto; 
}

.logo h1 {
    color: #007bff;
    font-size: 30px;
    margin: 0;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #0056b3;
}

.links a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 12px;
}

.links a:hover {
    text-decoration: underline;
}

.illustration {
    position: absolute;
    top: 0;
    right: -250px;
}

.illustration img {
    width: 200px;
    max-width: 100%;
    display: block;
}

#loginForm {
    width: 300px; 
    margin: 0 auto; 
}

.form-group.remember {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    margin-bottom: 15px;
}

.form-group.remember input[type="checkbox"] {
    width: auto; 
    margin-right: 10px; 
    margin-bottom: 0; 
}

.form-group.remember label {
    margin: 0; 
    display: inline;
}
